h1, h2 {
    text-align: center;
    font-size: 35px;
    display: none;
}


.sor {
    width: 100%;
    height: 210px;
    margin: 1px auto auto auto;
}

.negyzet {
    width: 200px;
    height: 200px;
    background-color: #445f80;
    display: inline-block;
    float: left;
    margin: 5px;
    cursor: pointer;
}

.X {
    background-image: url("http://worldartsme.com/images/free-x-clipart-1.jpg");
    background-size: 100%;
}

.O {
    background-image: url("http://www.clker.com/cliparts/3/F/h/l/W/o/cyrillic-letter-o-md.png");
    background-size: 103%;
}

#gameplay-container {
    width: 630px;
    height: 630px;
    background-color: #c9aaff;
    margin: 100px auto auto;
    padding: 5px;
    display: none;
}

#idkbra {
    color: #118b00;
    display: block;
    margin: auto;
}

#reset {
    margin: 25px auto auto;
    height: 75px;
    width: 250px;
    display: none;
}

#back-lobby {
    text-align: center;
    display: none;
}

#back-lobby1 {
    width: 80px;
    height: 30px;
    text-align: center;
    display: none;
    margin: auto;
}

#back-lobby2 {
    width: 80px;
    height: 30px;
    text-align: center;
    display: none;
    margin: auto;
}