#home-container {
    width: 800px;
    height: 400px;
    /*background-color: maroon;*/
    margin: 200px auto auto;
    display: block;
}

#welcome {
    color: #fcfff3;
    font-size: 40px;
    display: block;
    margin-top: -10%;
}

#home-btn {
    width: 100px;
    height: 50px;
    background-color: #688b8a;
    display: block;
    margin:50px auto;
}

#h2szoveg {
    font-size: 20px;
    color: #b3d4fc;
    display: block;
    margin: 50px auto;
}

#facebook-button {
    width: 300px;
    height: 80px;
    background-color: #242389;
    color: #fff;
    font-size: 23px;
    display: block;
    margin: auto;
}

li {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;
    position: relative;
    left: 0;
    cursor: pointer;
}

#wrapper {
    display: block;
    margin: auto;
    left: 0;
}