label, input {
    display: block;
    margin: 25px auto auto;
    text-align: center;
}

label {
    font-size: 25px;
}

input {
    height: 75px;
    width: 320px;
    font-size: 20px;
    margin-top: 10px;
}

.hhh {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
}

#lobby-container {
    width: 800px;
    height: 400px;
    /*background-color: maroon;*/
    margin: 200px auto auto;
    display: none;
}

#letsplay-gomb {
    /*border: none;*/
    width: 400px;
    height: 140px;
    background-color: #688b8a;
    margin: 100px auto auto;
    display: block;
    font-size: 30px;
}

.ply1 {
    width: 160px;
    height: 60px;
    display: block;
    margin: auto;
}

.ply2 {
    width: 160px;
    height: 60px;
    display: block;
    margin: auto;
}

label {
    color: white;
}

#nev-utasitas {
    font-size: 30px;
    color: white;
    display: block;
}

#facebook-button {
    width: 160px;
    height: 50px;
    background-color: #242389;
    color: #fff;
    font-size: 18px;
    display: block;
    margin-left: 75%;
}

#back-btn {
    width: 100px;
    height: 50px;
    background-color: #688b8a;
    color: #fffbf4;
    font-size: 20px;
    left: 0;
}